/ServerSocket/nbproject/private/
/ServerLogInSignUp/nbproject/private/
/ClientLogInSignUp/nbproject/private/
/ServerLogInSignUp/build/
/ClientLogInSignUp/build/
/file/nbproject/private/
/file/build/
/file/dist/
/Verifica/nbproject/private/